<!DOCTYPE html>
<html lang="en">
<head>
     <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ChatGroup</title>
</head>
<body>
    <nav class="purple darken-2">
        <div class="nav-wrapper container">
            <a href="/" class="brand-logo">ChatGroup</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/profile">Profile</a></li>
                <li><a href="/friends">Friends</a></li>
                <li><a href="/chats">Chats</a></li>
                <li>
                    <div class="input-field">
                        <input id="buscar" type="text" class="autocomplete white-text">
                    </div>
                </li>
                <li>
                    <i class="material-icons">search</i>
                </li>
                <li><a href="#">Logout</a></li>               
            </ul>
            
        </div>
        
    </nav>